<div class="container">
    <div class="col-md-12">
        <div class="row">
          <h3>Register</h3>
            <form class="control-group" name="AddData" ng-sumbit="RegisterMe()">
                <label><b>ID:</b></label>
                <input type="text" name="id" ng-model="register.id" class="form-control" required>
                <label><b>Name:</b></label>
                <input type="text" name="name" ng-model="register.name" class="form-control" required>
                <label><b>Age:</b></label>
                <input type="text" name="age" ng-model="register.age" class="form-control" required>
                <br>
                <button class="btn btn-success" ng-click="RegisterMe(register)">Register</button>
            </form>
            <br>
        </div>
    </div>
</div>
<!-- <h1>Home Page</h1>
<div ui-view></div> -->